name: Publish
on:
  workflow_dispatch:
    inputs:
      version-type:
        type: choice
        description: Which version type to bump
        options:
          - patch
          - minor
          - major

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'

      - name: Checkout
        uses: actions/checkout@v6

      - name: Test & Build
        run: |
          npm ci
          npm run test:prod
          npm run build

      - name: Version Bump
        id: version-bump
        uses: phips28/gh-action-bump-version@v11.1.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag-prefix: 'v'
          # Can't use commit wording because manually dispatched workflows don't contain the commits
          version-type: ${{ github.event.inputs.version-type }}

      - name: Rebuild
        run: |
          npm install
          npm run build

      - name: Publish
        run: npm publish

      - name: Create Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.version-bump.outputs.newTag }}
          release_name: ${{ steps.version-bump.outputs.newTag }}
