name: Test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - 'v*'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 'lts/*'

      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache node deps
        uses: actions/cache@v4
        env:
          cache-name: cache-node-deps
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - name: Test
        run: |
          npm install
          npm run test:prod
          npm run build
